<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Rooms</title>
</head>
<body>
    <!-- Nav -->
    <h1>Conference Rooms Navigation Menu</h1>
    <nav>
        <a href="">Show all conference rooms</a>
        <a href="/add-new-conference-room/">Add new conference room</a>
    </nav>
    <!-- Nav -->


    <!-- Footer -->
    <footer>
        <p>Author: Jakub Mierzyński</p>
        <p><a href="mailto:jakub.mierzynski@gmail.com">jakub.mierzynski@gmail.com</a>></p>
    </footer>
    <!-- Footer -->

</body>
</html>