<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Rooms</title>
</head>
<body>
    <!-- Nav -->
    <h1>Conference Rooms Navigation Menu</h1>
    <nav>
        <a href="http://127.0.0.1:8000/all_rooms/">Show all conference rooms</a>
        <a href="/room/new/">Add new conference room</a>
    </nav>
    <!-- Nav -->
    <!-- Room Specs -->
        <h1>{{ room.room_name }} specifications:</h1>
        <p>Capacity: {{ room.room_capacity }}</p>
        <p>Projector available: {{ room.projector_available }}</p>
        <p>
            <a href="/modify/{{ room.pk }}">PRESS TO EDIT ROOM</a><br><br>
            <a href="/delete/{{ room.pk }}">PRESS TO DELETE ROOM</a><br><br>
            <a href="/reserve/{{ room.pk }}">PRESS TO RESERVE ROOM</a><br><br></p>
        <p><h1>Reservations</h1></p>
        <ul class="list-group">
            {% for reservation in reservations %}
            <li class="list-group-item">
                <h3>Date: {{ reservation.date }}</h3>
                <p>Comment to reservation: {{ reservation.comment }}</p>
            </li>
            {% endfor %}
        </ul><br>
    <!-- Room Specs -->

    <!-- Footer -->
    <footer>
        <p>Author: Jakub Mierzyński</p>
        <p><a href="mailto:jakub.mierzynski@gmail.com">jakub.mierzynski@gmail.com</a></p>
    </footer>
    <!-- Footer -->

</body>
</html>